.mt-1{
  margin-top: 1rem !important;
}

.m-333 {
  margin: .333333rem !important;
}
.margin-333 {
  margin: .333333rem !important;
}


.mr-1{
  margin-right: 1rem !important;
}

.m-0{
  padding: 0!important;
}

.p-0{
  margin:  0!important;
}

.full-width{
  width: 100% !important;
}

.p-1{
  margin:  1rem!important;
}
.pl-1 {
  padding-left: 1rem!important;
}
