<div fxLayout="row warp" fxLayoutAlign="center center" class="mt-1">
  <mat-form-field class="field-width" appearance="outline"
                  [fxFlex]="51" [fxFlex.xs]="100">
    <mat-label>Current Password</mat-label>
    <input [(ngModel)]="changePasswordDetails.currentPassword"
           required
           matInput placeholder=""
           [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="field-width" appearance="outline"
                  [fxFlex]="51" [fxFlex.xs]="100">
    <mat-label>New Password</mat-label>
    <input [(ngModel)]="changePasswordDetails.newPassword"
           required
           matInput placeholder=""
           [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="field-width" appearance="outline"
                  [fxFlex]="51" [fxFlex.xs]="100">
    <mat-label>Confirm New Password</mat-label>
    <input [(ngModel)]="changePasswordDetails.confirmNewPassword"
           required
           matInput placeholder=""
           [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

<!--  <div fxLayoutAlign="center center" fxLayout="row" class="margin-333">-->
    <button mat-raised-button class = "button"
            [fxFlex]="50" [fxFlex.xs]="100"
            [color]="'primary'"
            [disabled]="!changePasswordDetails.currentPassword || !changePasswordDetails.newPassword
            || !changePasswordDetails.confirmNewPassword"
            (click)="submit()">
      Change
    </button>
<!--  </div>-->
</div>
