.menu-item {
  height: 60px;
  list-style: none;
  outline: none;

  &:hover {
    .menu-item-icon {
      color: #2aa1ff;
    }
    &hover{
      background-color: darkgrey;
    }
    cursor: pointer;
  }
}
