<mat-card>
  <div fxLayout="row">
    <button mat-raised-button
            style="float: right"
            color="primary"
            (click)="addMode = true">
      Add Sub Role
    </button>
  </div>

  <div fxLayout="row">
    <mat-form-field *ngIf="addMode">
      <input aria-label="new Sub Role"
             matInput
             [formControl]="newSubRoleCtrl">
      <span matSuffix>
        <button mat-icon-button
                [disabled]="newSubRoleCtrl.invalid"
                [matTooltip]="'Save'"
                (click)="addNewSubRole()">
          <mat-icon>add</mat-icon>
        </button>
      </span>
    </mat-form-field>

  </div>

  <mat-list>
    <mat-list-item class="sub-role-list-item" *ngFor="let subRole of subRoles">
      <app-sub-role-item
        fxFlex="100"
        [subRole]="subRole"
        (onDeleteSucceed)="onDeleteSucceed($event)"
      ></app-sub-role-item>
    </mat-list-item>
  </mat-list>

</mat-card>





