

.btn-add-position{
  float: right !important;
  width: 150px;
}

.sub-role-list-item {
  //z-index: 9999999;
  border-radius: 5px;
  margin-top: 6px;
  &:hover {
    cursor: pointer;
    background: gainsboro;
  }
}

.ffff{
  height: 100px;
}
