/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import "assets/styles/app";
@import "assets/styles/shortcuts";
@import "assets/styles/sessions";

@include mat-core();
@import "assets/styles/theme/my-light-blue-theme";
@import "assets/styles/theme/my-dark-theme";
@import "assets/styles/theme/my-dark-red-theme";
@import "assets/styles/theme/my-light-cyan-theme";

.light-blue{
  @include angular-material-theme($my-light-blue-theme);
}

.light-turquoise {
  @include angular-material-theme($my-light-turquoise-theme);
}

.dark-red{
  @include angular-material-theme($my-dark-red-theme);
}

.dark-orange{
  @include angular-material-theme($my-dark-theme);
}

.text-black{
  color: black;
}

.icon-color{
  color: white;
}

.spinner-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 998;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

