.report-list-item {
  margin-top: 6px;
  background: aliceblue;

  &:hover {
    cursor: pointer;
    background: gainsboro;
  }
}
.report-list-details{
  margin-top: 6px;
  text-align: center;
  background: gray;
  color: white;
}

