<div fxLayoutAlign="center center" class="mt-1">
  <mat-card fxFlex="100">
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-1">
      <img class="image-container" width="75px" height="50px" src="../../../../assets/logo.jpeg"/>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="mt-1">
      <b>
        RECOVER YOU'R PASSWORD
      </b>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="mt-1">
      <p>
        Please Enter You'r Email
      </p>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="mt-1">
      <mat-form-field [appearance]="'outline'" fxFlex="30">
        <mat-label>User Name</mat-label>
        <input matInput type="text"/>
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center" class="mt-1">
      <button fxFlex="15" mat-raised-button color="primary">Next</button>
    </div>

  </mat-card>
</div>



