<mat-card class="sessions-container">

  <p class="text-center full-width mt-1">
    <img class="image-container" width="75px" height="50px" src="../../../../assets/logo.jpeg"/>
  </p>

  <p class="text-center full-width mt-1">
    <b>
      RECOVER YOU'R PASSWORD
    </b>
  </p>

    <p class="text-center full-width">
      Please Enter You'r Username or Email
    </p>

  <div fxLayout="row" class="mt-1">
    <mat-form-field [appearance]="'outline'" class="full-width">
      <mat-label>Username or Email</mat-label>
      <input matInput type="text"/>
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="center" class="mt-1">
    <button  class="btn-width"
      mat-raised-button color="primary"
             [routerLinkActive]="'active'"
             [routerLink]="['validation']">
      Next
    </button>
  </div>

</mat-card>



