<mat-card  class="sessions-container">

  <div fxLayoutAlign="center center" fxLayout="row" class="mt-1 textMove">
    Enter a security code
  </div>
  <hr [width]="400">

  <div fxLayout="row" fxLayoutAlign="center center" class="mt-1">
    <mat-form-field class="field-width" [appearance]="'outline'" >
      <mat-label>Enter the code</mat-label>
      <input matInput type="text"/>
      <mat-icon matSuffix>polymer</mat-icon>
    </mat-form-field>
  </div>

  <div fxLayoutAlign="center center" fxLayout="row" class="textMove">
    <a href="#">Didn't get the code?</a>
  </div>


  <div fxLayout="row" fxLayoutAlign="center" class="mt-1">
    <button mat-raised-button color="primary" class="btn-width"
            (click)="next()"
            [routerLinkActive]="'active'"
            [routerLink]="['/sessions/forgetPassword/validation/resetPassword']"
    >Next</button>
    <button  mat-raised-button color="primary" class="btn-width"
             [routerLinkActive]="'active'"
             [routerLink]="['../../signIn']"
    >Cancel</button>
  </div>
</mat-card>

