<mat-expansion-panel class="full-width"
                     style="margin-top: 2px"><!--from Angular materials-->
  <mat-expansion-panel-header style="background-color: cadetblue">
    <mat-panel-title>
      {{event.date| date:'dd/MM/yyyy hh:mm'}} <!--shows from the left side the date and the time-->
    </mat-panel-title>
    <mat-panel-description style="color: darkslategrey">
      <b>
        {{event.eventType}} <!--shows the type of the event in the middle-->
      </b>
    </mat-panel-description>
  </mat-expansion-panel-header><!-- end of the component that we see without open it-->
  <!--body of the component starts down here-->
  <p>
    <b [ngStyle]="{'border': '2px ' + getEventTypeColor(event.severityLevel) + ' solid' }"
       style="color: darkslategrey;padding: 5px ">Severity lvl: {{slRef[event.severityLevel]}}</b>
    <!--style of the severity border and the severity-->
  </p>
  <p>
    <b style="color: darkslategrey">Location: {{event.location}}</b><!--shows the location of the event-->
  </p>
  <p>
    <b style="color: darkslategrey">Conclusions: {{event.conclusions}}</b><!--shows the Conclusions of the event-->
  </p>
  <button style="margin-left: 90%" mat-stroked-button>More details</button>

</mat-expansion-panel><!--end of the component-->

