<mat-card class="sessions-container">

    <div fxLayout="row" class="mt-1">
        Enter the details below
    </div>

    <hr class="field-width">

    <div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-1">
        <mat-form-field class="field-width" [appearance]="'outline'">
            <mat-label>Enter your username</mat-label>
            <input matInput type="text"
                   [(ngModel)]="details.userName"
                   required/>
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-form-field class="field-width" [appearance]="'outline'">
            <mat-label>Enter new password</mat-label>
            <input matInput type="text"
                   [(ngModel)]="details.password"
                   required/>
            <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
        <mat-form-field class="field-width" [appearance]="'outline'">
            <mat-label>Enter new password</mat-label>
            <input matInput type="text"
                   [(ngModel)]="details.confirmPassword"
                   required/>
            <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center" class="mt-1">
        <button mat-raised-button color="primary" class="btn-width"
                (click)="change()">
            Change
        </button>
        <button mat-raised-button color="primary" class="btn-width"
                [routerLinkActive]="'active'"
                [routerLink]="['/sessions/signIn']">
            Cancel
        </button>
    </div>

</mat-card>

