<!--<button (click)="buttonClicked($event)"> alerts </button>-->
<!--<app-alerts-item></app-alerts-item>-->
<mat-card>
  <button mat-stroked-button color="primary">close event</button>
  <mat-list>
    <mat-list-item class="report-list-item" [routerLink]="['/alerts-page/',reports.id]"
                   *ngFor="let reports of reports">
      <mat-checkbox></mat-checkbox>
      {{ reports.date | date }}
      <span style="margin-left: 35%;" ></span>
      {{reports.eventType}}
    </mat-list-item>
  </mat-list>
</mat-card>
