<mat-card>
  <button mat-stroked-button color="primary" (click)="closeEvent($event)"
          [routerLinkActive]="'active'" [routerLink]="['close']">close event</button>
  <mat-list>

    <mat-list-item class="report-list-details">
      <div class ="p-1 text-center" [fxFlex]="100/3">Date</div>
      <div class = "text-center" [fxFlex]="100/3*2">Event Type</div>
      <div class = "text-center" [fxFlex]="100/3*3">Reporter's name</div>
    </mat-list-item>

    <mat-list-item class="report-list-item" [routerLink]="['/alert-page/',alert.id]"
                   *ngFor="let alert of alerts">
      <div [fxFlex]="100/80">
        <mat-checkbox class = "text-center"
                      [ngModel]="alert.selected"
                      (click)="checked($event,alert)"
                      [color]="'primary'">

        </mat-checkbox>
      </div>

      <div class="text-center" [fxFlex]="100/3*1.2">
          {{alert.date | date }}
        </div>
      <div class="text-center" [fxFlex]="100/3*2">
        {{alert.eventType}}
      </div>
      <div class="text-center" [fxFlex]="100/3*3">
        {{alert.name}}
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>
