<mat-card>
  <button mat-stroked-button color="primary" (click)="closeEvent($event)"
          [routerLinkActive]="'active'" [routerLink]="['/closeEvent']">close event</button>
  <mat-list>

    <mat-list-item class="report-list-details">
      <div class ="p-1 text-center" [fxFlex]="100/3">Date</div>
      <div class = "text-center" [fxFlex]="100/3*2">Event Type</div>
      <div class = "text-center" [fxFlex]="100/3*3">Reporter's name</div>
    </mat-list-item>

    <mat-list-item class="report-list-item" [routerLink]="['/alerts-page/',reports.id]"
                   *ngFor="let reports of reports">
      <div [fxFlex]="100/80">
        <mat-checkbox class = "text-center" (click)="$event.stopPropagation();" [color]="'primary'"></mat-checkbox>
      </div>

      <div class="text-center" [fxFlex]="100/3*1.2">
          {{reports.date | date:'dd/MM/yyyy HH:mm' }}
        </div>
      <div class="text-center" [fxFlex]="100/3*2">
        {{reports.eventType}}
      </div>
      <div *ngIf="!smallMode" class="text-center" [fxFlex]="100/3*3">
        {{reports.name}}
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>
