.fxflexExample {
  height: 200px;
}

.btn-pdf-position{
  float: right;
}
.a{background-color: pink}
.b{background-color: blue}
.c{background-color: purple}

.uploaded-image-event{
  max-width: 40%;
  max-height: 100px;
  margin: 2px;
  border: 1px black solid;
  border-radius: 5px;
}

.btnraise{
  width:230px;
}


.border-location{
  height:20px;
  border: 1px lightgray solid;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  &hover{
    border: 1px black solid;
  }
}

h5{
  font-weight: inherit;
  margin-right: 1rem;
  color: darkgray;
  width:50px;
  margin-top:-25px;
  background:white;
}



@media screen and (min-width: 500px) {
  .pl-1-not-in-mobile{
    padding-left: 1rem !important;
  }
}
