.fxflexExample {
  height: 200px;
}

.btn-pdf-position{
  float: right;
}
.a{background-color: pink}
.b{background-color: blue}
.c{background-color: purple}

.uploaded-image-event{
  max-width: 200px;
  max-height: 150px;
  margin-top: 12px;
  border: 2px white solid;
  border-radius: 5px;
}

.btnraise{
  width:230px;
}
