<mat-card class="sessions-container">

  <div fxLayoutAlign="center center" fxLayout="row" class="mt-1">
    <h3 class="panel-title">Login</h3>

  </div>
  <hr [width]="400">
  <div fxLayoutAlign="center center" fxLayout="row" class="mt-1">
    <p class="text-center p-0 m-0">
      <mat-form-field class="field-width" appearance="outline">
        <mat-label>User Name</mat-label>

<!--        <input matInput [formControl]="userNameFormControl" [errorStateMatcher]="matcher">-->
<!--        <mat-hint>Errors appear instantly!</mat-hint>-->
<!--        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">-->
<!--          Please enter a valid email address-->
<!--        </mat-error>-->

        <input [(ngModel)]="userLogin.username"
               [formControl]="userNameFormControl" [errorStateMatcher]="matcher"
               matInput placeholder="">
        <mat-error *ngIf="userNameFormControl.hasError('required')">
          User Name is <strong>required</strong>
        </mat-error>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </p>
  </div>

  <div fxLayoutAlign="center center" fxLayout="row" class="mt-1">
    <p class="text-center p-0 m-0">
      <mat-form-field class="field-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input [(ngModel)]="userLogin.password"
               [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
               matInput placeholder=""
               [type]="hide ? 'password' : 'text'">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>

        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </p>
  </div>

  <div fxLayoutAlign="center center" fxLayout="row" class="mt-1">
    <p class="p-0 m-0">
      <mat-checkbox class="checkbox-rem">Remember Me</mat-checkbox>
    </p>
  </div>

  <div fxLayoutAlign="center center" fxLayout="row" class="mt-1">
    <button color="primary"
            class="btn-width"
            mat-raised-button
            (click)="accountService.login(userLogin)">
      Login
    </button>
  </div>

  <div fxLayoutAlign="center center" fxLayout="row" class="mt-1">
    <p class="text-center p-0 m-0">
      <a href="#" [routerLinkActive]="'active'" [routerLink]="['/sessions/forgetPassword']">Forgot password?</a>
    </p>
  </div>
</mat-card>
