.field-width{
  width: 400px;
}

.checkbox-rem{
  padding-right: 265px;
}


@media screen and (max-width: 500px) {
  .field-width{
    width: 300px;
  }

  .checkbox-rem{
    padding-right: 160px;
  }
}
