
<mat-card class="sessions-container">

  <div fxLayoutAlign="center center" fxLayout="row" class="mt-1">
    <img
      class="image-container"
      width="50px"
      height="50px"
      src="../../../../assets/logo.jpeg"/>
      <h3 class="panel-title">Login</h3>

  </div>
<hr [width]="400">
  <div fxLayoutAlign="center center" fxLayout="row" class="mt-1">
    <p class="text-center p-0 m-0">
      <mat-form-field class = "field-width" appearance="outline" >
        <mat-label>User Name</mat-label>
        <input matInput placeholder="">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </p>
  </div>

  <div fxLayoutAlign="center center" fxLayout="row" class="mt-1">
    <p class="text-center p-0 m-0">
      <mat-form-field class = "field-width" appearance="outline">
        <input matInput placeholder="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </p>
  </div>

  <div  fxLayoutAlign="center center" fxLayout="row" class="mt-1">
    <p class="p-0 m-0">
      <mat-checkbox class="checkbox-rem">Remember Me</mat-checkbox>
    </p>
  </div>

  <div fxLayoutAlign="center center" fxLayout="row" class="mt-1">
      <button color="primary" class="btn-width" mat-raised-button [routerLinkActive]="'active'" [routerLink]="['/home']">Login</button>
  </div>

  <div fxLayoutAlign="center center" fxLayout="row" class="mt-1">
    <p class="text-center p-0 m-0">
      <a href="#" [routerLinkActive]="'active'" [routerLink]="['/sessions/forgetPassword']">Forgot password?</a>
    </p>
  </div>
</mat-card>
