<mat-list>

  <mat-expansion-panel class="full-width">

    <mat-expansion-panel-header style="background-color: aliceblue">

      <p class="p-1 text-center" [fxFlex]="50">
        {{event.startDate | date:'dd/MM/yyyy HH:mm' }}
      </p>

      <p class="p-1 text-center" [fxFlex]="50">
        {{event.eventType.name}}
      </p>

    </mat-expansion-panel-header>

    <p>
      <b [ngStyle]="{'border': '2px ' + getEventTypeColor(event.severityLevel) + ' solid' }"
         style="color: darkslategrey;padding: 5px ">
        Severity lvl: {{ slRef[event.severityLevel]}}</b>
    </p>

    <p>
      <b style="color: darkslategrey">
        Location: {{event.location.googlePlacesData.formattedAddress}}
      </b>
    </p>

    <p>
      <b style="color: darkslategrey">
        Note: {{event.note}}
      </b>
    </p>

    <div fxLayout="row">
      <span fxFlex></span>
      <button fxFlex.xs="100"
              [routerLink]="['../reports/close/', event.id]"
              mat-stroked-button>
        More details
      </button>
    </div>

  </mat-expansion-panel>
</mat-list>
