<mat-expansion-panel class="full-width"
                     style="margin-top: 2px">

  <mat-expansion-panel-header style="background-color: #f2f2f2">

    <mat-panel-title class = "text-center" [fxFlex]="50">
      {{event.startDate | date:'dd/MM/yyyy'}}
    </mat-panel-title>

    <mat-panel-title class = "text-center" [fxFlex]="50">
      {{event.eventType.name}}
    </mat-panel-title>

  </mat-expansion-panel-header>

  <p>
    <b [ngStyle]="{'border': '2px ' + getEventTypeColor(event.severityLevel) + ' solid' }"
       style="color: darkslategrey;padding: 5px ">
      Severity lvl: {{ slRef[event.severityLevel]}}</b>
    <!--style of the severity border and the severity-->
  </p>

  <p>
    <b style="color: darkslategrey">
      Location: {{event.location}}
    </b>
  </p>

  <p>
    <b style="color: darkslategrey">
      Note: {{event.note}}
    </b>
  </p>

  <div fxLayout="row">
    <span fxFlex></span>
    <button fxFlex.xs="100"
            [routerLink]="['../reports/close/', event.id]"
      mat-stroked-button>
      More details
    </button>
  </div>

</mat-expansion-panel>

