<form ngForm class="toolbar-container" [formGroup]="filterOptions">
  <div fxLayout="row"
       fxLayout.sm="column"
       fxLayout.xs="column"
       fxLayoutGap="10px">

    <mat-form-field fxFlex="20">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControlName]="'date'">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field fxFlex="20">
      <input matInput
             aria-label="Number"
             appGooglePlace
             placeholder="Please enter location"/>
    </mat-form-field>

    <app-event-type fxFlex="20" [size]="100"
      (typeChanged) = "filterOptions.controls['eventType'].setValue($event)">
    </app-event-type>

    <app-severity-level fxFlex="20" [size]="100"
      (changed)="filterOptions.controls['severityLevel'].setValue($event)">
    </app-severity-level>

    <span fxFlex></span>

    <div class="margin-333">
      <button mat-raised-button
              [color]="'primary'"
              (click)="submit()">
        <mat-icon>search</mat-icon>
      </button>
    </div>

  </div>

</form>

