<mat-card>
  <div fxLayout="row">

    <div [fxFlex]="50"
         [fxFlex.xs]="50">
      <button mat-raised-button
              [routerLinkActive]="'active'"
              [routerLink]="'/user-information/details/addUser'"
              color="primary">
        Add User
      </button>
    </div>

    <div [fxFlex]="50"
         [fxFlex.xs]="50">
      <button mat-raised-button
              [disabled]="!hasSelectedUser()"
              class="delete-btn-position"
              (click)="deleteUsers()"
              color="warn">
        Delete
      </button>
    </div>
  </div>

  <div fxLayout="row" class="user-list-details">
    <span [fxFlex]="5"></span>
    <p class="p-1 text-center" [fxFlex]="25">Name</p>
    <p *ngIf="!mobileQuery.matches || isNotMobile" class="p-1 text-center" [fxFlex]="25">Email</p>
    <p class="p-1 text-center" [fxFlex]="25">Agencies and responders</p>
  </div>

  <app-users-filter
    (searchUsersChanged)="searchUsersChanged($event)">
  </app-users-filter>

  <mat-list>
    <cdk-virtual-scroll-viewport itemSize="6" class="viewport">
      <mat-list-item class="user-list-item" *cdkVirtualFor="let user of users">

        <div fxLayout="row" class="full-width" (click)="check.toggle()">

          <div [fxFlex]="5" class="mt-1">
            <mat-checkbox class="text-center" #check
                          [fxFlex]="10"
                          [(ngModel)]="user.selected"
                          (click)="$event.stopPropagation()"
                          [color]="'primary'">
            </mat-checkbox>
          </div>
          <p class="p-1 text-center" [fxFlex]="25">
            {{user.firstName + " " + user.lastName}}
          </p>

          <p *ngIf="!mobileQuery.matches || isNotMobile" class="p-1 text-center" [fxFlex]="25">
            {{user.email}}
          </p>

          <p class="p-1 text-center" [fxFlex]="25">
            {{user.subRole.name}}
          </p>

          <span fxFlex></span>

          <button mat-icon-button
                  [matTooltip]="'Extra Details'"
                  [routerLinkActive]="'active'"
                  [routerLink]="['/user-information/details/' + user.id]">
            <mat-icon>arrow_right</mat-icon>
          </button>

        </div>
      </mat-list-item>
    </cdk-virtual-scroll-viewport>

  </mat-list>

</mat-card>
