<mat-card>

  <div fxLayout="row" class="report-list-details">
    <p class="p-1 text-center" [fxFlex]="25">Name</p>
    <p *ngIf = "!mobileQuery.matches || isNotMobile" class="p-1 text-center" [fxFlex]="25">Email</p>
    <p class="p-1 text-center" [fxFlex]="25">Agencies and responders</p>
  </div>

  <mat-list>
    <cdk-virtual-scroll-viewport itemSize="6" class="viewport">
      <mat-list-item class="report-list-item" *cdkVirtualFor="let user of users">

        <div fxLayout="row" class="full-width">

          <p class="p-1 text-center" [fxFlex]="25">
            {{user.firstName + " " + user.lastName}}
          </p>

          <p *ngIf = "!mobileQuery.matches || isNotMobile" class="p-1 text-center" [fxFlex]="25">
            {{user.email}}
          </p>

          <p class="p-1 text-center" [fxFlex]="25">
            {{user.role}}
          </p>

          <span fxFlex></span>

          <button mat-icon-button
                  [matTooltip]="'Extra Details'"
                  [routerLinkActive]="'active'"
                  [routerLink]="['/mySettings/details/' + user.id]">
            <mat-icon>arrow_right</mat-icon>
          </button>

        </div>
      </mat-list-item>
    </cdk-virtual-scroll-viewport>

  </mat-list>

</mat-card>
