<div fxLayoutAlign="center center" fxLayout="row" class="mt-1">
  <mat-tab-group  mat-stretch-tabs [color]="'accent'" class="full-width">
    <mat-tab label="Force">
      <app-element-list [serviceName]="'role'" [elementName]="'Sub Role'"></app-element-list>
    </mat-tab>

    <mat-tab label="Event Type">
      <app-element-list [serviceName]="'event'" [elementName]="'Event'"></app-element-list>
    </mat-tab>
  </mat-tab-group>
</div>

<!--<h3>Event Type</h3>-->
<!--<app-element-list [serviceName]="'event'" [elementName]="'Event'"></app-element-list>-->

<!--<h3>Force</h3>-->
<!--<app-element-list [serviceName]="'role'" [elementName]="'Sub Role'"></app-element-list>-->




