<mat-card>

  <div class="my-profile-header">
    <p class="p-1" [fxFlex]="50">My profile</p>
  </div>

  <br>

  <p class="underline"><b>Validation</b></p>
  <span class="material-icons">face</span>

  <mat-form-field class="mat-form-field-full-width">
    <mat-label>User Name</mat-label>
    <input matInput>
  </mat-form-field>

  <p><b>picture place</b></p>

  <p class="underline"><b>Personal Information</b></p>

  <mat-form-field class="mat-form-field-full-width">
    <mat-label>User Name</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="mat-form-field-full-width">
    <mat-label>First Name</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="mat-form-field-full-width">
    <mat-label>Last Name</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="mat-form-field-full-width">
    <mat-label>Email Address</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="mat-form-field-full-width">
    <mat-label>Last Name</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="mat-form-field-full-width">
    <mat-label>Phone Number</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="mat-form-field-full-width">
    <mat-label>Car Number</mat-label>
    <input matInput>
  </mat-form-field>

<p>Sex</p>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="Women">Women</mat-button-toggle>
    <mat-button-toggle value="Men">Men</mat-button-toggle>
    <mat-button-toggle value="underline">No definition</mat-button-toggle>
  </mat-button-toggle-group>

  <mat-form-field class="mat-form-field-full-width">
    <mat-label>Birth Date</mat-label>
    <input matInput>
  </mat-form-field>

<!--  <div fxLayoutAlign="center center" fxLayout="row" class="mt-1">-->
<!--    <h4>-->
<!--      <b>-->
<!--        WELCOME-->
<!--      </b>-->
<!--    </h4>-->
<!--  </div>-->
<!--  <mat-card style="margin-top: 50px">-->
<!--    <div fxLayout="column">-->
<!--    <span class="material-icons">-->
<!--        face-->
<!--      </span>-->
<!--      NAME :-->
<!--      <label>-->
<!--      <textarea matInput-->
<!--                cdkTextareaAutosize-->
<!--                #autosize="cdkTextareaAutosize"-->
<!--                cdkAutosizeMinRows="1"-->
<!--                cdkAutosizeMaxRows="5"></textarea>-->
<!--      </label>-->
<!--    </div>-->

<!--  </mat-card>-->

<!--  <mat-card style="margin-top: 3px">-->
<!--    <div fxLayout="column">-->
<!--    <span class="material-icons">-->
<!--        phone-->
<!--      </span>-->
<!--      PHONE NUMBER :-->
<!--      <label>-->
<!--    <textarea matInput-->
<!--              cdkTextareaAutosize-->
<!--              #autosize="cdkTextareaAutosize"-->
<!--              cdkAutosizeMinRows="1"-->
<!--              cdkAutosizeMaxRows="5"></textarea>-->
<!--      </label>-->
<!--    </div>-->
<!--  </mat-card>-->

<!--  <mat-card style="margin-top: 3px">-->
<!--    <div fxLayout="column">-->
<!--    <span class="material-icons">-->
<!--        mail-->
<!--      </span>-->
<!--      EMAIL :-->
<!--      <label>-->
<!--    <textarea matInput-->
<!--              cdkTextareaAutosize-->
<!--              #autosize="cdkTextareaAutosize"-->
<!--              cdkAutosizeMinRows="1"-->
<!--              cdkAutosizeMaxRows="5"></textarea>-->
<!--      </label>-->
<!--    </div>-->
<!--  </mat-card>-->

<!--  <mat-card style="margin-top: 3px">-->
<!--    <div fxLayout="column">-->
<!--    <span class="material-icons">-->
<!--        directions_car-->
<!--      </span>-->
<!--      CAR NUMBER :-->
<!--      <label>-->
<!--    <textarea matInput-->
<!--              cdkTextareaAutosize-->
<!--              #autosize="cdkTextareaAutosize"-->
<!--              cdkAutosizeMinRows="1"-->
<!--              cdkAutosizeMaxRows="5"></textarea>-->
<!--      </label>-->
<!--    </div>-->
<!--  </mat-card>-->

  <div fxLayoutAlign="center center" fxLayout="row" class="margin-333">
    <button mat-raised-button style="width: 200px"
            [color]="'primary'">
      <span class="material-icons">save </span>
      Save
    </button>
  </div>

</mat-card>
