.my-profile-header{
  border-radius: 5px;
  margin-top: 6px;
  background: gray;
  color: white;
}

.mat-form-field-full-width {
  width: 75%;
}

.underline {
  border-bottom: 2px solid lightgray;
}

.uploaded-image{
  max-width: 100%;
  max-height: 100px;
  margin-top: 12px;
  border: 1px black solid;
  border-radius: 5px;
}

