<div fxLayoutAlign="center center" fxLayout="row" class="mt-1">
  <h4>
    <b>
      WELCOME
    </b>
  </h4>
</div>
<mat-card style="margin-top: 50px">
  <div fxLayout="column">
    <span class="material-icons" >
        face
      </span>
    NAME :
    <label>
      <textarea matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"></textarea>
    </label>
  </div>

</mat-card>

<mat-card style="margin-top: 3px">
  <div fxLayout="column">
    <span class="material-icons" >
        phone
      </span>
    PHONE NUMBER :
    <label>
    <textarea matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"></textarea>
    </label>
  </div>
</mat-card>

<mat-card style="margin-top: 3px">
  <div fxLayout="column">
    <span class="material-icons" >
        mail
      </span>
    EMAIL :
    <label>
    <textarea matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"></textarea>
    </label>
  </div>
</mat-card>

<mat-card style="margin-top: 3px">
  <div fxLayout="column">
    <span class="material-icons" >
        directions_car
      </span>
    CAR NUMBER :
    <label>
    <textarea matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"></textarea>
    </label>
  </div>
</mat-card>
