<form #f = "ngForm">

  <mat-card>

    <div class="my-profile-header">
      <p class="p-1" [fxFlex]="50">My profile</p>
    </div>

    <br>

    <p class="underline"><b>Validation</b></p>

    <mat-form-field class="mat-form-field-full-width">
      <mat-label>User Name</mat-label>
      <input [(ngModel)]="user.username" required
             matInput placeholder="">
    </mat-form-field>

    <p>picture place</p>

    <p class="underline"><b>Personal Information</b></p>

    <mat-form-field class="mat-form-field-full-width">
      <mat-label>First Name</mat-label>
      <input matInput [(ngModel)]="user.firstName" required>
    </mat-form-field>

    <mat-form-field class="mat-form-field-full-width">
      <mat-label>Last Name</mat-label>
      <input matInput [(ngModel)]="user.lastName" required>
    </mat-form-field>

    <mat-form-field class="mat-form-field-full-width">
      <mat-label>Email Address</mat-label>
      <input matInput [(ngModel)]="user.email" required>
    </mat-form-field>

    <mat-form-field class="mat-form-field-full-width">
      <mat-label>Phone Number</mat-label>
      <input matInput [(ngModel)]="user.phoneNumber" required>
    </mat-form-field>

    <mat-form-field class="mat-form-field-full-width">
      <mat-label>Car Number</mat-label>
      <input matInput [(ngModel)]="user.carNumber">
    </mat-form-field>

    <p>Gender</p>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="Women">Women</mat-button-toggle>
      <mat-button-toggle value="Men">Men</mat-button-toggle>
    </mat-button-toggle-group>

    <br><br>
    <mat-form-field class="mat-form-field-full-width">
      <mat-label>Birth Date</mat-label>
      <input matInput [matDatepicker]="picker"
             [(ngModel)]="user.birthDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div fxLayoutAlign="center center" fxLayout="row" class="margin-333">
      <button mat-raised-button style="width: 200px"
              [color]="'primary'"
              (click)="save()">
        <span class="material-icons">save </span>
        Save
      </button>
    </div>

  </mat-card>
</form>
