<mat-card class="sessions-container">
  <div fxLayout="row" class="mt-1">
    Enter the details below
  </div>
  <hr [width]="400">

  <div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-1">
    <mat-form-field class="field-width" [appearance]="'outline'">
      <mat-label>Enter you'r username</mat-label>
      <input matInput type="text"
             [(ngModel)]="details.userName"
             required/>
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field class="field-width" [appearance]="'outline'">
      <mat-label>Enter code</mat-label>
      <input matInput type="text"
             [(ngModel)]="details.token"
             required/>
      <mat-icon matSuffix>polymer</mat-icon>
    </mat-form-field>

    <mat-form-field class="field-width" [appearance]="'outline'">
      <mat-label>Enter new password</mat-label>
      <input matInput type="text"
             [(ngModel)]="details.newPassword"
             required/>
      <mat-icon matSuffix>vpn_key</mat-icon>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="center" class="mt-1">
    <button mat-raised-button color="primary" class="btn-width"
            (click)="change()"
            [routerLinkActive]="'active'"
            [routerLink]="['/sessions/forgetPassword/validation/resetPassword']">
      Change
    </button>
    <button mat-raised-button color="primary" class="btn-width"
            [routerLinkActive]="'active'"
            [routerLink]="['../../../signIn']">
      Cancel
    </button>
  </div>
</mat-card>

