<mat-form-field class="full-width" [appearance]="appearance">
  <mat-label>event type</mat-label>
  <input type="text"
           aria-label="Number"
           matInput
           [disabled]="disabled"
           [ngModel]="defaultValue"
           [matAutocomplete]="auto">
    <mat-autocomplete fxFlex="100"
                      (optionSelected)="typeChanged.emit($event.option.value)"
                      [displayWith]="displayWith" #auto="matAutocomplete">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let option of typeOptions"
                    [value]="option">
            {{option.name}}
        </mat-option>
    </mat-autocomplete>

</mat-form-field>
