<mat-form-field class="full-width" [appearance]="appearance">
    <input type="text"
           placeholder="Pick event type"
           aria-label="Number"
           matInput
           [disabled]="disabled"
           [ngModel]="defaultValue"
           [matAutocomplete]="auto">
    <mat-autocomplete fxFlex="100"
      (optionSelected)="typeChanged.emit($event.option.value)"
      [displayWith]="displayWith" #auto="matAutocomplete">

      <button mat-button style="width: 200px" [routerLinkActive]="'active'" [routerLink]="['/eventTypeEdit']">
        Edit
        <mat-icon>edit</mat-icon>
      </button>

      <mat-option *ngFor="let option of typeOptions"
                  [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>

</mat-form-field>
